/* Work Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.h2-title {
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
}

.secondary-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.passage {
  color: #534c64;
  text-align: left;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-bottom: 20px;
}

.primary-btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  color: white;
  font-weight: 600;
  border: none;
}

.primary-btn:hover {
  color: #534c64;
  cursor: pointer;
  box-shadow: 2px 2px 5px #fc67cf;
  padding: 20px 40px;
  border-radius: 48px;
}

.go-rougue:hover {
  color: #534c64;
  cursor: pointer;
  box-shadow: 2px 2px 5px #4ec5f7;
  padding: 20px 40px;
  border-radius: 48px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 20px;
}

header {
  max-width: 1920px;
  margin: 0px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 240px;
}

.logo-title {
  font-size: 3rem;
  font-weight: 700;
}

.logo-title span {
  color: rgba(255, 66, 165, 1);
}

.nav-items {
  display: flex;
  align-items: center;
  color: #3c354f;
  font-size: 1em;
  font-weight: 500;
  list-style: none;
  gap: 35px;
}

.follow-us {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px;
  gap: 18px;
}

.first-banner-container {
  display: flex;
  align-items: center;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.first-banner-content {
  width: 100%;
  margin-left: 120px;
}

.banner-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
}

.goat {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 10px 20px;
  justify-content: start;
}

.banner-btn {
  display: flex;
  gap: 25px;
  margin-top: 35px;
}

.go-rougue {
  background: #4ec5f7;
  padding: 21px 40px;
  border-radius: 48px;
  color: white;
  font-weight: 600;
  border: none;
}

.banner-image {
  width: 50%;
}

.gamer-sec-container {
  max-width: 1920px;
  margin: 0px auto;
  padding: 50px 240px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer-sec-img {
  width: 100%;
}

.gamer-sec-img img {
  width: 100%;
}

.gamer-content {
  width: 80%;
  text-align: end;
  padding-left: 50px;
}

.gamer-content h2 {
  margin-bottom: 25px;
}

.Broad-style {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 5px;
}

.online {
  max-width: 1920px;
  margin: 0px auto;
  padding: 80px 240px;
  text-align: center;
}

.online > p {
  margin-top: 20px;
}

.video-storage {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.video-content {
  width: 100%;
  text-align: left;
}

.video-content img {
  width: 100%;
}

.play {
  max-width: 1920px;
  margin: 0px auto;
  padding: 20px 240px 120px;
}

.play-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 30px;
}

.play-content {
  max-width: 360px;
  text-align: right;
  margin: 10px 50px;
}

.player-container {
  width: 50%;
  position: relative;
}

.player-container > img {
  width: 100%;
}

.slideshow {
  width: 50%;
  position: absolute;
  bottom: 0px;
  right: 70%;
  top: 55%;
}

.slideshow>img {
  width: 100%;
}

.play-games-content {
  text-align: left;
}



.browse-games {
  max-width: 1920px;
  margin: 0px auto;
  padding: 100px 240px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.browse-style {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 28px;
  flex-wrap: wrap;
}

.browse-game-type {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
  padding: 10px 18px;
  background: #fff;
  box-shadow: 1px 1px 5px rgb(226, 224, 224);
}

.game-genre {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
}

.browse-game-type:hover {
  border: 1px solid #ff42a5;
  color: #ff42a5;
  cursor: pointer;
}

/* Footer styles */

footer {
  background: #0b0223;
  color: white;
  margin: 0px auto;
}

.footer-content {
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 240px 50px;
}

.footer-logo {
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

.footer-button,
.follow-icon,
.terms,
.all-rights {
  justify-content: center;
  display: flex;
  gap: 60px;
  padding: 15px 0px;
  margin-bottom: 20px;
}

.footer-button a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px;
}

.footer-button a:hover {
  color: #534c64;
  cursor: pointer;
  background: #ff42a5;
  box-shadow: 2px 2px 5px #8758f1;
  border-radius: 25px;
}

.terms-conditions {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  color: rgba(255, 255, 255, 0.6);
}
